{% extends 'base.html' %}

{% block title %}
    Accounts
{% endblock title %}

{% block content %}

{% load static %}

    <main>
        <h1>Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for accounts in account_list.all %}
                    <tr>
                        <td>{{ accounts.name }}</td>
                        <td>{{ accounts.number }}</td>
                        <td>{{ accounts.reciepts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock content %}
