{% extends 'base.html' %}

{% block title %}
    Categories
{% endblock title %}

{% block content %}

{% load static %}

    <main>
        <h1>Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for categories in category_list %}
                    <tr>
                        <td>{{ categories.name }}</td>
                        <td>{{ categories.reciepts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

{% endblock content %}
