{% extends 'base.html' %}

{% block title %}
    Create Receipt
{% endblock title %}

{% block content %}

{% load static %}

        {% comment %} <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main Page</a>
            </nav>
        </header> {% endcomment %}
        <main>
            <div>
            <h1>Create Receipt</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
            </div>
{% endblock content %}
